/* IMPORTS */
@import url("./css/global.css");
@import url("./css/media.css");

/* HEADER */
header {
  display: flex;
  justify-content: space-between;
}

.headerNav {
  display: flex;
  padding: 8px;
}

.navList {
  display: flex;
  gap: 8px;
  list-style-type: none;
  padding-left: 0;
}

.hamburgerIcon {
  display: none;
}

/* MAIN */
.hero {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
}

.heroText,
.heroImg {
  text-align: center;
  width: 50%;
}

.about {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
}

.aboutImg,
.aboutText {
  width: 50%;
}

.projects {
  display: flex;
  align-items: center;
  justify-content: center;
}

.projectCard {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  border: 1px solid black;
  margin: var(--spacingSmall);
  padding: var(--spacingSmall);
}

/* FOOTER */
.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-bottom: 3px solid black;
  padding: 16px;
}

.contact {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4px;
  color: black;
}
